<body>
    <div class="draggableContainer">
      <div class="relationShape"></div>
      <input class="textfieldObjects" style=" top: 68px;  left: 53px;">
  
    </div>
  </body>
  
  <body>
    <div class="draggableContainer">
      <div class="isaShape"></div>
      <p class="text" style=" top: 60px;  left: 10px;">is A</p>
    </div>
  </body>
  
  <body>
    <div class="draggableContainer">
      <div class="entityShape"></div>
      <input class="textfieldObjects" style=" top: 48px;  left: 35px;">
  
    </div>
  </body>
  
  <body>
  
    <div class="draggableContainer">
  
      <div class="attributeShape"></div>
      <input class="textfieldObjects" style=" top: 47px;  left: 35px;"></input>
  
    </div>
  
  </body>