<body>
    <div class="draggableContainer">
      <div class="relationShape"></div>
  
      <div class="arrowanchor" style=" top: 3px; 	 left: 128px;"></div> <!-- top middle -->
      <div class="arrowanchor" style=" top: 143px; left: 128px;"></div> <!-- bot middle -->
  
      <div class="arrowanchor" style=" top: 73px;  left: 8px;"></div> <!-- middle left -->
      <div class="arrowanchor" style=" top: 73px;  left: 248px;"></div> <!-- middle right -->
  
      <div class="arrowanchor" style=" top: 38px;  left: 68px;"></div> <!-- middle top left-->
      <div class="arrowanchor" style=" top: 38px;  left: 188px;"></div> <!-- middle top right-->
  
      <div class="arrowanchor" style=" top: 108px;  left: 68px;"></div> <!-- middle bot left-->
      <div class="arrowanchor" style=" top: 108px;  left: 188px;"></div> <!-- middle bot right-->
  
      <input class="textfieldObjects" style=" top: 68px;  left: 53px;">
  
    </div>
  </body>
  
  <body>
    <div class="draggableContainer">
      <div class="isaShape"></div>
  
      <div class="arrowanchor" style=" top: 3px; 	 left: 107.5px;"></div> <!-- top middle -->
      <div class="arrowanchor" style=" top: 153px;   left: 107.5px;"></div> <!-- bot middle -->
  
      <div class="arrowanchor" style=" top: 153px;   left: 7.5px;"></div> <!-- bot left -->
      <div class="arrowanchor" style=" top: 153px;   left: 57.5px;"></div> <!-- bot left middle -->
  
      <div class="arrowanchor" style=" top: 153px;   left: 207.5px;"></div> <!-- bot right -->
      <div class="arrowanchor" style=" top: 153px;   left: 157.5px;"></div> <!-- bot right middle -->
      <p class="text" style=" top: 60px;  left: 10px;">is A</p>
  
    </div>
  </body>
  
  <body>
    <div class="draggableContainer">
      <div class="entityShape"></div>
  
      <div class="arrowanchor" style=" top: 3px; 	 left: 108px;"></div> <!-- top middle -->
      <div class="arrowanchor" style=" top: 3px;   left: 208px;"></div> <!-- top right -->
      <div class="arrowanchor" style=" top: 3px;   left: 8px;"></div> <!-- top left -->
  
      <div class="arrowanchor" style=" top: 53px;  left: 8px;"></div> <!-- left -->
      <div class="arrowanchor" style=" top: 53px;  left: 208px;"></div> <!-- right-->
  
      <div class="arrowanchor" style=" top: 103px; left: 8px;"></div> <!-- bot left -->
      <div class="arrowanchor" style=" top: 103px; left: 108px;"></div> <!-- bot mid -->
      <div class="arrowanchor" style=" top: 103px; left: 208px;"></div> <!-- bot right -->
      <input class="textfieldObjects" style=" top: 48px;  left: 35px;">
  
    </div>
  </body>
  
  <body>
  
    <div class="draggableContainer">
  
      <div class="attributeShape"></div>
  
      <div class="arrowanchor" style=" top: 2px; 	 left: 108px;"></div> <!-- top middle -->
      <div class="arrowanchor" style=" top: 13px;  left: 170px;"></div> <!-- top right -->
      <div class="arrowanchor" style=" top: 13px;  left: 41px;"></div> <!-- top left -->
  
      <div class="arrowanchor" style=" top: 52px;  left: 8px;"></div> <!-- left -->
      <div class="arrowanchor" style=" top: 52px;  left: 208px;"></div> <!-- right-->
  
      <div class="arrowanchor" style=" top: 102px; left: 108px;"></div> <!-- bot middle -->
      <div class="arrowanchor" style=" top: 90px;  left: 41px;"></div> <!-- bot left -->
      <div class="arrowanchor" style=" top: 90px;  left: 170px;"></div> <!-- bot right -->
  
      <input class="textfieldObjects" style=" top: 47px;  left: 35px;"></input>
  
    </div>
  
  </body>