/*
.attributeContainer {
    width: 0px;
    height: 0px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: visible;
  }
  .attributeShape {
    width: 200px;
    height: 100px;
    background: rgba(249,249,86,1);
    opacity: 1;
    position: absolute;
    border-radius: 50%;
  }
  
  .textfield {
    width: 160px;
    height: 25px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: absolute;
    overflow: hidden;
    box-sizing: border-box;
  }
  .arrowanchor {
    width: 15px;
    height: 15px;
    background: rgba(122,122,122,1);
    opacity: 1;
    position: absolute;
    border-radius: 50%;
  }
  */