body {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}


/* Root element of the website*/
.canvasStyle {
  position: absolute;
  background: red;
  width: 100%;
  height: 100%;
  overflow: hidden;
}



/* Toolbox left side */
.leftSidebarContainer {
  position: absolute;
  width: 30%;
  height: 100%;
  min-height: 100%;
  background: rgb(107, 75, 75);
  text-align: center;
}

.leftSidebarTitle {
  margin-top: 20px;
  font-size: 20px;
  height: 5%;
}

.leftSidebarSelectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  min-height: 100%;
}



/* The main outer drawboard container */
.outerDrawboardContainer {
  position: absolute !important;
  display: block;
  left: 30%;
  height: 100%;
  width: 70%;
  background-color: white;
  text-align: left;
}

.scrollAble {
  overflow-y: scroll;
  overflow-x: scroll;
}


/* The background page / grid showed inside the drawable area*/
.drawboardBackgroundPage {
  position: absolute !important;
  height: 100%;
  width: 100%;
  background-image:
          /* from left to right,    from transparent 0px to transparent 99px,  from 99px to 100px "#ccc = white line" */
          repeating-linear-gradient(0deg, transparent 0px, transparent 30px, #efeded 30px, #efeded 31px),
          /* from top to bot,       from transparent 0px to transparent 99px,  from 99px to 100px "#ccc = white line" */
          repeating-linear-gradient(-90deg, transparent 0px, transparent 30px, #efeded 30px, #efeded 31px);
}


/* The area, where elements can be dragged inside */
.drawboardDragArea {
  position: absolute !important;
  height: 100%;
  width: 100%;
  overflow: scroll;
}


.draggableContainer {
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: relative;
  cursor: grab;
}


/* Right edit bar */

.rightSidebarContainer {
  position: absolute;
  width:30%;
  left: 70%;
  height: 100%;
  background: rgb(1, 39, 175);
}

.rightSidebarTitle{

}

.anotherS{
  width:300px;
  background: rgb(220, 240, 250);
  padding: 0px 20px;
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
}

.actionBubble {
  background: white;
  border-radius: 50px;
  height: 80%;
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 25px;
}

.actionBubble:hover {
  background: azure;
}

.actionBubble:active {
  background: DeepSkyBlue;
}



  .wideBox,
  .interfaceBox {
    border: 1px #999 solid;
    border-radius: 10px;
    text-align: center;
    width: 100px;
    height: 30px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tallBox {
    border: 1px #999 solid;
    border-radius: 10px;
    text-align: center;
    width: 20px;
    height: 80px;
    background: white;
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
  .interfaceBox {
    height: 50px;
  }

  .triangle {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid #555;
  }

  .switchIcon {
    top: 0;
    width: 50px;
    height: 50px;
  }
  
  .iconContainer {
    background: white;
    border-color: #999;
    border-style: solid;
    border-width: 1px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
  }
  

  .Entity {
    width: 200px;
    height: 100px;
    background: rgb(255, 255, 255);
    opacity: 1;
    top: 10px;
    left: 15px;
    overflow: hidden;

    border: 1px rgb(0, 0, 0) solid;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .Attribute {
    width: 200px;
    height: 100px;
    background: rgb(255, 255, 255);
    opacity: 1;
    display: flex;
    top: 10px;
    left: 15px;
    border-radius: 50%;

    
    border: 1px rgb(0, 0, 0) solid;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

     
  .relation {
    width: 100px;
    height: 100px;
    background: rgba(255, 91, 0, 1);
    opacity: 1;
    display: flex;
    top: 10px;
    left: 15px;
    overflow: hidden;

    border: 1px #999 solid;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
    transform-origin: right;
  }

  .relation2 {
    left: 10px;
    width: 0;
    height: 0;
    border: 125px solid transparent;
    border-bottom: 70px solid rgb(98, 209, 46, 1);
    position: relative;
    top: -115px;
    justify-content: center;
    align-items: center;


    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .relation2:after {
    content: "";
    position: absolute;
    left: -125px;
    top: 70px;
    width: 0;
    height: 0;
    border: 125px solid transparent;
    border-top: 70px solid rgb(98, 209, 46, 1);
    
  }
  

  .textfieldObjects {
    width: 160px;
    height: 25px;
    background-color: inherit;
    opacity: 1;
    position: absolute;
    overflow: hidden;
    border:0;
    outline:0;
    text-align: center;
    text-justify: auto;    
  }


.svgclass{
  height:150px;
  width:150px;
  overflow: visible;
}

