body {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}


/* Root element of the website*/
.canvasStyle {
  position: absolute;
  background: red;
  width: 100%;
  height: 100%;
  overflow: hidden;
}



/* Toolbox left side */
.leftSidebarContainer {
  position: absolute;
  width: 300px;
  height: 100%;
  min-height: 100%;
  background: #3c3f41;
  text-align: center;
}


.leftSidebarMainTitle {
  margin-top: 20px;
  font-size: 30px;
  font-family: 'Ultra', sans-serif;
  height: 5%;
  color: white;
  text-shadow: 0 2px #808088, 0 3px #2d2c2c;
}

.leftSidebarTitle {
  margin-top: 20px;
  font-size: 20px;
  margin-bottom: 10px;
  color: white;
}

.leftSidebarDivider {
  border-top: 2px solid whitesmoke;
  border-radius: 15px;
  box-shadow: #222222;
  margin: 10px 30px 30px;
}

.leftSidebarSelectionContainer {
  display: block;
  border-bottom: 1px solid #e5e5e5;
  padding: 6px 6px 6px 10px;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}


.leftSideBarElementContainer {
  position: relative;
  cursor: grab;
  display: inline-block;
  padding: 1px;
  overflow: hidden;
}

.leftSideBarElement {
  position: relative;
  display: inline-block;
  background-size: contain;
  padding: 1px;
  margin: 3px;
  overflow: hidden;
  width: 100px;
  height: auto;
  border: 2px solid #222222;
  border-radius: 20px;
  background-color: #323232;
}

.leftSideBarElementImage {
  margin: auto;
  position: relative;
  cursor: grab;
  display: inline-block;
  width: 70%;
  padding: 10px;
  height: auto;

}

.leftSideBarElement:hover{
  background-color: #2b2b2b;
}

/* The main outer drawboard container */
.outerDrawboardContainer {
  position: absolute !important;
  display: block;
  left: 300px;
  height: 100%;
  width: calc(100% - 300px);
  text-align: left;
  background-color: #363636;
}

/* Scrollbar*/
.scrollAble {
  overflow-y: scroll;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* background */
::-webkit-scrollbar-track {
  color: transparent;
}

/* the clickable scroll thing */
::-webkit-scrollbar-thumb {
  background: #656565;
  border-radius: 6px;
}

/* hover event on the clickable scroll thing */
::-webkit-scrollbar-thumb:hover {
  background: #d0d0d0;
}

::-webkit-scrollbar-corner {
  color: transparent;
}


/* The background page / grid showed inside the drawable area*/

/**
Idee 1 Grr mauszeiger
Wenn nach oben ein element verschoben wird, dann werden alle elemente direkt um die größe einer "ursprünglichen" background page nach unten verschoben

Idee 2
Nach oben ist immer die größe einer BackgroundPage frei, wenn die aktuelle page nach oben überschritten wird, dann wird oben eine neue seite erstellt.

evlt benötigt: Element.scrollIntoView()
 */

/* DIN-A4 Verhältnis 21 cm zu 29,7 cm*/
/* height applied: height = 900 * amount of pages from top to bot    */
/* width  applied: width  = 640 * amount of pages from left to right */
.drawboardBackgroundPage {
  position: absolute !important;
  height: 3000px;
  width: 4000px;
  border: #363636 30px solid;
  border-bottom: #363636 900px solid;
  border-right: #363636 640px solid;
  background-color: white;

  background-image:

          /* the pages from top to bot */
          repeating-linear-gradient(to bottom, transparent 0px, transparent 900px, rgba(54, 54, 54, 0.75) 900px, rgba(54, 54, 54, 0.75) 904px),

          /* the pages from left to right */
          repeating-linear-gradient(to right, transparent 0px, transparent 640px, rgba(54, 54, 54, 0.75) 640px, rgba(54, 54, 54, 0.75) 644px),

          /* grid from top to bottom,    from transparent 0px to transparent 99px,  from 99px to 100px "#ccc = white line" */
          repeating-linear-gradient(to bottom, transparent 1px, transparent 30px, #e5e5e5 30px, #e5e5e5 32px),
          /* grid from left to right,     from transparent 0px to transparent 99px,  from 99px to 100px "#ccc = white line" */
          repeating-linear-gradient(to right, transparent 0px, transparent 30px, #e5e5e5 30px, #e5e5e5 32px);

}


/* The area, where elements can be dragged inside */
.drawboardDragArea {
  position: absolute !important;
  height: 100%; /* 5000px --> scroll */
  width: 100%;   /* 5000px --> scroll */
  overflow: scroll;
}



/* Right edit bar */

.rightSidebarContainer {
  position: relative;
  width: 300px;
  float: right;
  height: 100%;
  background: rgb(1, 39, 175);
}

.rightSidebarTitle{

}

.anotherS{
  width:300px;
  background: rgb(220, 240, 250);
  padding: 0 20px;
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
}

.actionBubble {
  background: white;
  border-radius: 50px;
  height: 80%;
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 25px;
}

.actionBubble:hover {
  background: azure;
}

.actionBubble:active {
  background: DeepSkyBlue;
}



  .wideBox,
  .interfaceBox {
    border: 1px #999 solid;
    border-radius: 10px;
    text-align: center;
    width: 100px;
    height: 30px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tallBox {
    border: 1px #999 solid;
    border-radius: 10px;
    text-align: center;
    width: 20px;
    height: 80px;
    background: white;
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
  .interfaceBox {
    height: 50px;
  }

  .triangle {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid #555;
  }

  .switchIcon {
    top: 0;
    width: 50px;
    height: 50px;
  }
  
  .iconContainer {
    background: white;
    border-color: #999;
    border-style: solid;
    border-width: 1px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
  }
  

  .Entity {
    width: 200px;
    height: 100px;
    background: rgb(255, 255, 255);
    opacity: 1;
    top: 10px;
    left: 15px;
    overflow: hidden;

    border: 1px rgb(0, 0, 0) solid;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .Attribute {
    width: 200px;
    height: 100px;
    background: rgb(255, 255, 255);
    opacity: 1;
    display: flex;
    top: 10px;
    left: 15px;
    border-radius: 50%;

    
    border: 1px rgb(0, 0, 0) solid;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

     
  .relation {
    width: 100px;
    height: 100px;
    background: rgba(255, 91, 0, 1);
    opacity: 1;
    display: flex;
    top: 10px;
    left: 15px;
    overflow: hidden;

    border: 1px #999 solid;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
    transform-origin: right;
  }

  .relation2 {
    left: 10px;
    width: 0;
    height: 0;
    border: 125px solid transparent;
    border-bottom: 70px solid rgb(98, 209, 46, 1);
    position: relative;
    top: -115px;
    justify-content: center;
    align-items: center;


    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .relation2:after {
    content: "";
    position: absolute;
    left: -125px;
    top: 70px;
    width: 0;
    height: 0;
    border: 125px solid transparent;
    border-top: 70px solid rgb(98, 209, 46, 1);
    
  }
  

  .textfieldObjects {
    width: 160px;
    height: 25px;
    background-color: inherit;
    opacity: 1;
    position: absolute;
    overflow: hidden;
    border:0;
    outline:0;
    text-align: center;
    text-justify: auto;    
  }


.svgclass{
  height:150px;
  width:150px;
  overflow: visible;
}

